@mixin svg-wrapper {
  position: absolute;
  display: block;
  width: 55%; 
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

