@import 'mixins';
.icon-up-open-big {
    display: inline-block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  .icon-up-open-big {
    &:after {
      content: "^";
      font-size: 2.5em;
      display: block;
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
      color: white;
      -webkit-transition: color .3s;
      transition: color .3s;
    }
    &:hover:after {
      color: rgb(158, 47, 65);
    }
  }
  
  .scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding-left: 1px; // perfection =D
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  /* HELPER CLASSES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .clearfix {
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .l-left {
    float: left;
  }
  
  .l-right {
    float: right;
    margin-bottom: 10px;
  }
  
  .end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
  
  /* RESET-GENERAL STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }
  
  html {
    font-size: 60%;
    letter-spacing: .18em;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul, li {
    list-style-type: none;
  }
  
  /* SECTION STYLES - fullPage.js 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  section {
    text-align: center;
    color: white;
    position: relative;
  }
  .vertical-scrolling .description { 
    @include flex-centering;
    &::before {
      content: '';
      background-image: url('./img/hero-top.svg');
      background-size: 100% 100%;
      @include svg-wrapper;
      height: 110%;
      width: 100%;
    }  
    .description_text {
      text-transform: none;
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      text-transform: none;
      font-size: 1.5em;
      padding: 5px;
    }
  }
  
.vertical-scrolling .hero .hero-descr_wrapper .description_text {
  padding: 5px;
}
 
  
  h2 {
    text-transform: lowercase;
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: 300;
    font-size: 2.8em;
  }
  
 .logo {
   @include flex-centering;
   img {
    width: 30%;
    position: absolute;
    right: 24%;
   }
      &::before {
      content: '';
      background-image: url('./img/hero-intro.svg');
      background-size: 100% 100%;
      position: absolute;
      display: block;
      width: 55%; 
      top: 0;
      left:-2px;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 55%;
      }
  }
  
  .vertical-scrolling .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &::before {
      content: '';
      background-image: url('./img/hero-center.svg');
      background-size: 100% 100%;
      @include svg-wrapper;
      height: 100%;
      width: 55%;
    }
    .hero-descr_wrapper .description_text {
      font-size: 1.2em;
    }
  }
  
  .hero-descr_wrapper {
    display: flex;
    flex-direction: column;
  }
  
  #main-banner {
    max-width: 100%;
    width: 300px;
    height: auto;
    position: relative;
    padding-right: 8px;
    padding-top: 60px;
  }
  
  .helper {
    margin: 130px 0;
  }
  
  .link-group {
    display: flex;
    -moz-display: flex;
    align-items: center;
    -moz-align-items: center;
    flex-direction: column;
    height: 25%;
    -moz-height: 25%;
    justify-content: space-between;
    &::before {
      content: '';
      background-image: url('./img/hero-bot.svg');
      background-size: 100% 100%;
      @include svg-wrapper;
      height: 100%;
      width: 55%;
    }
  }
  
  .link_contact {
    padding: 1.5em;
    width: 200px;
    font-size: 1em;
    border: 1px solid white;
  }
  
#fullpage footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
 img {
  position: absolute;
  width: 10%;
  bottom: 20px;
 }
}
  
  /* Accordion styling */

  .widget_nav_menu {
    .menu {
      font-family: 'Roboto Mono', monospace;
      text-align: left;
      max-width: 674px;
      width: 100%;
      margin: 0 auto;
      .menu-item {
        span {
          margin-left: 2em;
          font-size: 1.3em;
        }
        list-style: none;
        border-bottom: 1px solid #333;
        &:last-child {
          border: none;
        }
        a {
          display: block;
          background: inherit;
          color: #fff;
          padding: 15px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .menu-item-has-children {
        a {
          &::after {
            content: "+";
            display: block;
            float: left;
            font-size: 1em;
          }
          &.active::after {
            content: "-";
          }
        }
        .sub-menu a:after {
          display: none;
        }
      }
      .sub-menu {
        display: none;
        padding: 0;
        margin: 0;
        a {
          background: inherit;
          color: #fff;
          text-align: left;
          border: none;
        }
      }
    }
    .sub-menu li:last-child {
      border: none;
    }
  }
  
  /* SLIDENAV STYLES - fullPage.js 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
  }
  
  #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(250, 250, 250);
  }

  
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 767px) {
    .link-group {
      height: 25%;
    }
    .logo {
      @include flex-centering;
      img {
       width: 40%;
       position: absolute;
       right: 15%;
      }
         &::before {
         content: '';
         background-image: url('./img/hero-intro.svg');
         background-size: 100% 100%;
         position: absolute;
         display: block;
         width: 55%; 
         top: 0;
         left:2px;
         right: 0;
         bottom: 10%;
         margin: auto;
         height: 100%;
         width: 55%;
         }
     }
    nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .toggle-menu {
      top: -60px;
    }
    .vertical-scrolling .hero {
      flex-direction: column;
      padding-top: 0;
    }
    .link_contact {
      font-size: 1em;
      width: 150px;
    }
    #main-banner {
      width: 100px;
      padding: 30px 0;
      right: -3px;
    }
    .helper {
      margin: 15px 0;
    }
    .widget_nav_menu .menu .menu-item span {
      font-size: 1em;
      margin-left: 0.5em;
    }
    nav li {
      margin-top: 1px;
      a {
        font-size: 1.9em;
      }
    }

  }
  
  @media screen and (max-width: 320px) {
    #fullpage .logo-head .logo img {
      width: 70%;
    }
    .widget_nav_menu .menu .menu-item span {
      font-size: 1em;
      margin-left: 0;
    }
    .description_text {
      font-size: 1.2em;
    }
    .vertical-scrolling .hero {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 425px) {
    html {
      font-size: 50%;
    }
    
    .open-menu ~ nav {
      padding: 20px 0;
    }
    .vertical-scrolling .hero {
      flex-direction: column;
      padding-top: 80px;
    }
    .link_contact {
      font-size: 1em;
      width: 150px;
    }
    #main-banner {
      width: 100px;
      padding: 30px 0;
    }
    .helper {
      margin: 15px 0;
    }
    nav li a {
      padding: 3px;
    }
  }
  
  /*hover*/
  
  .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #E41513;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover, &:focus, &:active {
      color: white;
    }
    &:hover:before, &:focus:before, &:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  
 
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    padding-top: -5px;
    bottom: 0;
    background: #E41513;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  